{% extends "sitio/layout.html" %}

{% block body %}

<p class="fs-5 col-md-8">JAGUARETE KAA S.A. es una empresa con historia y personalidad. Fundada en 1942 por Friedrich Zimmermann, refugiado alemán, pronto se convirtió en la principal empresa de Posadas y fuente de trabajo para miles.</p></br>
<p class="fs-5 col-md-8">Sus productos son de la mejor calidad. Todo es fabricado siguiendo rigurosos controles de producción e higiene.</p></br>
<p class="fs-5 col-md-8">JAGUARETE KAA S.A. recibió el premio "Dibu" Martínez 2021 al mejor espacio de trabajo para sus empleados.</p>

{% endblock %}